/*========== Var ==========*/
:root{
    /*========== Primary Colors ==========*/
    --soft-blue: hsl(214, 20%, 49%);
    --cyan: hsl(178, 100%, 50%);
    --cyan-opacity: hsla(178, 100%, 50%, 0.512);

    /*========== Neutral Colors ==========*/
    --very-dark-blue-main:  hsl(217, 54%, 11%);
    --very-dark-blue-card: hsl(216, 50%, 16%);
    --very-dark-blue-line: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);

    /*========== Font ==========*/
    --small-weight: 300;
    --medium-weight: 400;
    --large-weight: 600;
}
/*========== Reset ==========*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}
/*========== Global ==========*/
body{
    color: var(--soft-blue);
}

/*========== Main ==========*/
.main-container{
    width: 100%;
    height: 100vh;
    display: grid;
    place-content: center;
    background-color: var(--very-dark-blue-main);
}
/*========== Card ==========*/
.card-content{
    max-width: 23.438rem;
    padding: 1.5rem;
    border-radius: 1rem;
    background-color: var(--very-dark-blue-card);
}
.card-image__content img{
    display: block;
    width: 100%;
    border-radius: .5rem;
    cursor: pointer;
}
.card-image__content{
    position: relative;
}
.card-image__content .cap{
    display: grid;
    place-content: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: .5rem;
    background-color: var(--cyan-opacity);
    opacity: 0;
    cursor: pointer;
    transition: .3s ease;
}
.card-image__content .cap:hover{
    opacity: 1;
}
.card-title{
    margin-top: 1rem;
    color: var(--white);
    cursor: pointer;
}
.card-description{
    margin-top: 1rem;
    font-size: 1.125rem;
    line-height: 1.5;
}
.info-content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
}
.info-item__price{
    font-size: 900;
    color: var(--cyan);
}
.info-content__items,
.info-item__price,
.info-content__item{
    display: flex;
    align-items: center;
}
.info-item__price,
.info-item__date{
    margin-left: .5rem;
}
.info-item__date{
    font-size: 1.125rem;
}
.line::after{
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--very-dark-blue-line);
    margin-top: 1.5rem;

}
.info-creator{
    display: flex;
    align-items: center;
    margin-top: 1rem;
}
.img-profile img{
    width: 2.3rem;
    height: 2.3rem;
    border: 1px solid var(--white);
    border-radius: 50%;
    margin-right: 1.1rem;
}
.info-creator__name {
    color: var(--soft-blue);
}
.info-creator__name span{
    color: var(--white);
    cursor: pointer;
}
.info-creator__name span:hover,
.card-title:hover{
    color: var(--cyan);
}